* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}


.navbar {
    background-color: #1e8449;
    padding: 15px 0;
}

.navbar-inner {
    max-width: 1100px;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logo {
    color: white;
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 10px;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 25px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

nav ul li a:hover {
    text-decoration: underline;
}

.login-btn {
    background-color: white;
    color: #1e8449;
    padding: 6px 14px;
    border-radius: 5px;
}

.hero {
    height: 92vh;
    position: relative;
    overflow: hidden;
}

.hero-video {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    transform: translate(-50%, -50%);
    z-index: -1;
}

.hero-mulai {
    display: inline-block;
    margin-top: 30px;
    padding: 12px 24px;
    background-color: #1e8449;
    color: white;
    text-decoration: none;
    border: none;
    border-radius: 6px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s;
}
.hero::before {
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(0,0,0,0.5);
}

.hero-content {
    position: relative;
    text-align: center;
    color: white;
    max-width: 700px;
    margin: auto;
    top: 60%;
    transform: translateY(-30%);
}

/* RESPONSIVE */
@media (max-width: 768px) {
    nav ul {
        flex-direction: column;
        gap: 12px;
    }

    .hero-content h1 {
        font-size: 28px;
    }
}
