* {
    box-sizing: border-box;
}

body.login-body {
    margin: 0;
    min-height: 100vh;
    background-color: #152127;
    font-family: Arial, sans-serif;

    display: flex;
    justify-content: center;
    align-items: center;
}

.login-container {
    width: 100%;
    max-width: 350px;
}

.login-card {
    background-color: white;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.2);
    text-align: center;
}

.login-card h2 {
    color: #1e8449;
    margin-bottom: 5px;
    font-weight: bold;
}

.login-card p {
    color: #777;
    margin-bottom: 20px;
}

.login-card input {
    width: 100%;
    padding: 12px;
    margin: 8px 0;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.login-card button {
    width: 100%;
    padding: 12px;
    background-color: #1e8449;
    color: white;
    border: none;
    border-radius: 5px;
    margin-top: 10px;
    font-size: 16px;
    font-weight: bold;
}

.login-card button:hover {
    background-color: #145a32;
}

.login-card small {
    display: block;
    margin-top: 15px;
    color: #aaa;
}