* {
    box-sizing: border-box;
}

body.profile-body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f0f2f5;
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;
}

.profile-wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
}

.profile-box {
    background-color: white;
    display: flex;
    gap: 30px;
    padding: 30px;
    width: 600px;
    border-radius: 12px;
    box-shadow: 0 6px 18px rgba(0,0,0,0.1);
}

/* FOTO */
.profile-photo img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    border: 3px solid #1e8449;
}

/* CONTENT */
.profile-content {
    flex: 1;
}

.profile-content h2 {
    margin: 0;
    font-size: 24px;
    font-weight: bold;
    color: #1e8449;
}

.username {
    color: #777;
    margin-bottom: 15px;
}

.profile-data p {
    margin: 6px 0;
    font-size: 14px;
}

.profile-data strong {
    font-weight: bold;
}

/* BUTTON */
.profile-actions {
    margin-top: 20px;
}

.btn {
    display: inline-block;
    padding: 10px 18px;
    border-radius: 6px;
    text-decoration: none;
    font-weight: bold;
    margin-right: 10px;
}

.edit {
    background-color: #1e8449;
    color: white;
}

.logout {
    background-color: #e74c3c;
    color: white;
}

.edit:hover {
    background-color: #145a32;
}

.logout:hover {
    background-color: #c0392b;
}

/* RESPONSIVE */
@media (max-width: 768px) {
    .profile-box {
        flex-direction: column;
        text-align: center;
        width: 90%;
    }

    .profile-actions {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    .btn {
        margin: 0;
    }
}
