* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

/* NAVBAR */
.navbar {
    background-color: #1e8449;
    padding: 15px 0;
}

.navbar-inner {
    max-width: 1100px;
    margin: auto;
    display: flex;
    flex-direction: column;      /* LOGO DI ATAS */
    align-items: center;
}

/* LOGO */
.logo {
    color: white;
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 10px;
    text-align: center;
}

/* NAV MENU */
nav ul {
    list-style: none;
    display: flex;
    gap: 25px;
    align-items: center;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-size: 16px;
}

nav ul li a:hover {
    text-decoration: underline;
}

nav ul li a.active {
    text-decoration: underline;
}


.dropdown {
    position: relative;
}

.dropdown-menu {
    display: none;
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    background-color: white;
    min-width: 200px;
    border-radius: 6px;
    box-shadow: 0 6px 15px rgba(0,0,0,0.15);
    z-index: 999;
}

.dropdown-menu li {
    list-style: none;
}

.dropdown-menu li a {
    display: block;
    padding: 12px 15px;
    color: #333;
    text-decoration: none;
    font-weight: normal;
}

.dropdown-menu li a:hover {
    background-color: #f0f0f0;
}


.dropdown:hover .dropdown-menu {
    display: block;
}



.login-btn {
    background-color: white;
    color: #1e8449;
    padding: 6px 14px;
    border-radius: 5px;
    font-weight: bold;
}


.container {
    max-width: 600px;
    margin: 40px auto;
    background-color: white;
    padding: 30px;
    border-radius: 8px;
}

.container h1 {
    margin-bottom: 20px;
    color: #1e8449;
    text-align: center;
}


.form-transaksi label {
    display: block;
    margin-top: 15px;
    font-weight: bold;
}

.form-transaksi input,
.form-transaksi select {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border-radius: 4px;
    border: 1px solid #ccc;
}

.form-transaksi button {
    margin-top: 20px;
    padding: 12px;
    width: 100%;
    background-color: #1e8449;
    color: white;
    border: none;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
}

.form-transaksi button:hover {
    background-color: #145a32;
}

@media (max-width: 768px) {
    nav ul {
        flex-direction: column;
        gap: 10px;
    }
}
